<!-- ./views/show.handlebars -->
<div class="container py-5">
  <div class="text-center">
    <a href="{{character.pageLink}}" class="text-dark" target="_blank"><h1 class="mb-4">{{character.name}}</h1></a>
    <img class="rounded mb-4" src="{{character.image}}"
      alt="Card image cap" style="max-height: 300px;">
  </div>
  <div class="row d-flex justify-content-center">
    <h3 class="col-6 font-italic text-center">
      {{character.quote}}
    </h3>
  </div>
</div>